@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik+Dirt&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.splineBG {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}